@media (max-width: 1750px) {
	form {
		.container {
			width: 1230px;
			h1 {
				font-size: 16px;
			}
			input {
				width: 210px;
				font-size: 14px;
			}
			button {
				padding: 12px 48px;
			}
		}
	}
	.payment-plans {
		.payment {
			.payments {
				.pay {
					padding: 0px 90px;
					h2 {
						font-size: 40px;
						padding-top: 85px;
					}
					p {
						font-size: 12px;
					}
				}
			}
		}
	}
}

@media (min-width: 985px) {
	.hamburger,
	.logo,
	.registration {
		display: none;
	}
}

@media (max-width: 1600px) {
	.payment-plans {
		.payment {
			padding: 85px;
			h3 {
				font-size: 28px;
			}
			.payments {
				.pay {
					padding: 0px 63px;
					h2 {
						padding-top: 80px;
						font-size: 35px;
					}
				}
			}
		}
	}
}

@media (max-width: 1260px) {
	.hero {
		height: 80vh;
		h2 {
			font-size: 24px;
		}
	}
	.about {
		padding-bottom: 110px;
		.container {
			width: 450px;
			h2 {
				font-size: 1.75em;
			}
		}
		a {
			font-size: 12px;
		}
	}
	.third {
		.slides {
			.slide {
				.info-block {
					max-width: 620px;
					h3 {
						font-size: 1.7em;
					}
				}
			}
		}
	}
	.forth {
		height: 80vh;
	}
	.fifth-sec {
		.fifth {
			padding: 90px 20px;
			grid-row-gap: 45px;
			grid-column-gap: 35px;
			.features {
				margin-bottom: 35px;
				.center {
					height: 60px;
				}
				.center-wrap {
					padding-bottom: 42px;
				}
				h5 {
					font-size: 14px;
				}
			}
		}
	}
	.seventh {
		.slides {
			.slide {
				.info-block {
					max-width: 620px;
					h3 {
						font-size: 1.7em;
					}
				}
			}
		}
	}
	.views {
		.container {
			width: 500px;
			h2 {
				font-size: 1.75em;
			}
			p {
				margin-bottom: 45px;
			}
			a {
				font-size: 12px;
			}
		}
	}
	.payment-plans {
		.payment {
			h3 {
				font-size: 28px;
			}
			.payments {
				.pay {
					padding: 0px 30px;
					h2 {
						padding-top: 75px;
						font-size: 32px;
					}
				}
			}
		}
	}
	.sales-info {
		.sales {
			padding: 70px;
			img {
				height: 630px;
			}
			.sales-center {
				height: 630px;
				.text {
					h3 {
						font-size: 28px;
					}
					p {
						font-size: 17px;
					}
				}
			}
		}
	}
	form {
		.container {
			width: 940px;
			h1 {
				font-size: 14px;
			}
			input {
				width: 150px;
				font-size: 13px;
			}
			button {
				padding: 6px 40px;
			}
		}
	}
	.footer-1 {
		height: 210px;
		.footer-elements-1 {
			width: 940px;
			padding: 25px 10px;
		}
		.footer-element-2 {
			p {
				left: -480px;
			}
		}
	}
}

@media (max-width: 980px) {
	.reg-form {
		display: none;
	}
	.logo {
		display: block;
	}
	.menubar {
		display: block;
		// .sidebarIconToggle {
		// 	display: block;
		// }
	}

	// header {
	// 	height: 100vh;
	// 	top: -100vh;
	// 	.menu-list {
	// 		display: flex;
	// 		flex-direction: column;
	// 		text-align: center;
	// 		margin-left: auto;
	// 		margin-right: auto;
	// 		a {
	// 			font-size: 1.875em;
	// 			padding: 10px;
	// 			margin-left: 0;
	// 		}
	// 	}
	// }

	header {
		visibility: hidden;
		.main-logo,
		.dropdown {
			visibility: hidden;
		}
		.menu-list {
			visibility: visible;
			background-color: white;
			position: absolute;
			height: 100vh;
			top: -100vh;
			width: 100%;
			.lists {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				a {
					font-size: 1.475em;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					padding: 10px;
					font-weight: 600;
				}
			}
		}
	}

	.about {
		padding-bottom: 110px;
		.container {
			width: 420px;
			h2 {
				font-size: 1.5em;
			}
			p {
				width: 400px;
			}
		}
		a {
			font-size: 12px;
		}
	}
	.third .slick-dots li button {
		display: none;
	}
	.third .slides .slide .info-block .next,
	.third .slides .slide .info-block .prev {
		display: none;
	}

	.third {
		.slides {
			.slide {
				.info-block {
					padding: 40px 55px;
					max-width: 530px;
					h3 {
						font-size: 1.6em;
						margin-bottom: 18px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
	.forth {
		height: 70vh;
	}
	.fifth-sec {
		.fifth {
			display: block;
			.features {
				margin-bottom: 32px;
				.center {
					height: 43px;
					img {
						height: 70px;
					}
				}
				.center-wrap {
					padding-bottom: 32px;
				}
				h5 {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
		.slick-dots {
			position: absolute;
			top: 270px;
			width: 100%;
			text-align: center;
			padding: 0;
			li {
				display: inline-block;
				&.slick-active {
					button {
						background: #8c886d;
					}
				}
				button {
					font-size: 0px;
					border-radius: 100%;
					width: 17px;
					height: 17px;
					box-shadow: none;
					margin: 0 5px;
					border: 2px solid #8c886d;
					background: none;
				}
			}
		}
	}
	.container {
		h3 {
			font-size: 24px;
		}
		ul {
			li {
				font-size: 14px;
			}
		}
	}
	.views {
		.container {
			width: 400px;
			h2 {
				font-size: 22px;
			}
			p {
				margin-bottom: 25px;
				padding: 0 10px;
			}
			.links {
				font-size: 10px;
				margin-top: -180px;
			}
		}
	}
	.seventh .slick-dots li button {
		display: none;
	}
	.seventh .slides .slide .info-block .prev,
	.seventh .slides .slide .info-block .next {
		display: none;
	}

	.seventh {
		.slides {
			.slide {
				.image {
					height: 500px;
				}
				.info-block {
					padding: 10px 80px;
					max-width: 480px;
					.icons {
						img {
							width: 80px;
						}
					}
					h3 {
						font-size: 1.6em;
						margin-bottom: 18px;
					}
					p {
						padding-bottom: 20px;
						font-size: 16px;
					}
				}
			}
		}
	}
	.sixth {
		.residences {
			h3 {
				margin-top: 95px;
				font-size: 27px;
			}
			p {
				font-size: 17px;
				max-width: 550px;
				padding-right: 15px;
				padding-left: 15px;
			}
		}
	}
	.views {
		.container {
			width: 500px;
			h2 {
				font-size: 1.75em;
				padding-top: 90px;
			}
			p {
				margin-bottom: 45px;
			}
			a {
				font-size: 12px;
			}
		}
	}
	.sales-info {
		.sales {
			padding: 50px;
			img {
				height: 500px;
			}
			.sales-center {
				height: 500px;
				.text {
					h3 {
						font-size: 26px;
					}
					p {
						font-size: 16px;
					}
				}
			}
		}
	}
	.footer-1 {
		height: 320px;
		.footer-elements-1 {
			display: block;
			width: 400px;
			padding: 36px 10px;
			nav {
				margin: 30px 0px;
			}
		}
		.footer-element-2 {
			p {
				left: -155px;
			}
		}
	}
	.payment-plans {
		.payment {
			padding: 30px;
			h3 {
				font-size: 28px;
			}
			.payments {
				display: block;
				.pay {
					border-right: none;
					padding: 0px 20px;
					h2 {
						padding-top: 75px;
						font-size: 32px;
					}
				}
			}
		}
	}
}

@media (max-width: 670px) {
	.hero .slick-dots li button {
		display: none;
	}
	.hero {
		height: 50vh;
		.holder {
			.slide {
				height: 60vh;
			}
			h2 {
				font-size: 18px;
			}
		}
		.arrow {
			display: none;
		}
	}
	.just-image {
		height: 40vh;
	}
	.about {
		padding-bottom: 0px;
		.container {
			h2 {
				font-size: 22px;
				margin-top: 32px;
			}
			p {
				width: 350px;
			}
		}
		.linkers {
			display: none;
		}
	}
	.third {
		.slides {
			.slide {
				.image {
					height: 550px;
				}
				.info-block {
					padding: 30px 30px;
					max-width: 330px;
					h3 {
						font-size: 1.3em;
						margin-bottom: 8px;
						margin-top: 0;
					}
					p {
						font-size: 14px;
					}
				}
			}
		}
	}
	.forth {
		height: 450px;
	}
	.sixth {
		.residences {
			h3 {
				margin-top: 60px;
				font-size: 24px;
			}
			p {
				max-width: 425px;
				font-size: 16px;
			}
		}
	}
	.container {
		.tab-content {
			ul {
				top: 480px;
			}
		}
		.slick-prev {
			display: none;
		}
		.slick-next {
			display: none;
		}
	}

	.seventh .slides .slide .info-block .prev,
	.seventh .slides .slide .info-block .next {
		display: none;
	}
	.seventh {
		.slides {
			.slide {
				.image {
					height: 540px;
				}
				.info-block {
					padding: 10px 20px;
					max-width: 400px;
					h3 {
						font-size: 1.4em;
						margin-bottom: 20px;
					}
					p {
						padding-bottom: 20px;
						font-size: 14px;
						max-width: 370px;
					}
				}
			}
		}
	}
	.views {
		.view-container {
			padding-top: 0;
			width: 400px;
			.container {
				width: 395px;
				h2 {
					padding-top: 60px;
					font-size: 22px;
				}
				p {
					margin-bottom: 25px;
					padding: 0 10px;
				}
				.links {
					font-size: 10px;
					margin-top: -180px;
				}
			}
		}
	}
	.sales-info {
		.sales {
			padding: 0px;
			img {
				float: none;
				width: 401px;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			.sales-center {
				height: 360px;
				float: none;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: -42px;
				background-color: white;
				width: 340px;
				h3 {
					margin-top: -42px;
				}
				p {
					width: 250px;
				}
			}
		}
	}
	.apartments {
		h3 {
			margin-top: 40px;
		}
		div {
			.nav-tabs {
				display: grid;
				width: 220px;
			}
		}
	}

	.tab-content .slick-next,
	.tab-content .slick-prev {
		display: none;
	}

	.apartments .bs-example .nav-tabs {
		width: 250px;
	}

	.apartments .bs-example .tab-content {
		h1 {
			font-size: 16px;
		}
		img {
			width: 420px;
		}
	}
	.tab-content .slick-dots {
		top: 420px;
	}
}

li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #ffffff;
}
.btn:focus {
	color: white;
}
